<h1>Users</h1>
    {{# each gmList}}
    <li>
        <div>
            <a href="/gms/delete/{{_id}}">Delete User</a>
        </div>

        <div>ID: {{_id}}</div>
        <div> Name: {{name}}</div>
        <div>Years Experience: {{years_experience}}</div>
        <div>League Type: {{league_type}}</div>
        </ul>
        </div>
    </li>
    <br> {{/ each}}
</ul>
<div>
    <a href="/new">Create a New GM</a>
</div>


