<h1>General Mangers</h1>
<Div><a href="/new">Create a New GM</a>
</Div>
<ul>
    
    {{# each gmList}}
    <li>
        <div>
            <div>
                <a href="/{{_id}}">View User</a>
            </div>
        </div>

        <div>ID: {{_id}}</div>
        <div> Name: {{name}}</div>
        <div>Years Experience: {{years_experience}}</div>
        <div>League Type: {{league_type}}</div>
        </ul>
        </div>
    </li>
    <br> {{/ each}}
</ul>

</div>


