<h1>General Mangers</h1>
<ul>
    {{# each gmList}}
    <li>
        <div>
              <a href="/gms/delete/{{_id}}">Delete Gm</a>
        </div>

        <div>ID: {{_id}}</div>
        <div> Name: {{name}}</div>
        <div>Years Experience: {{years_experience}}</div>
        <div>League Type: {{league_type}}</div>
        </ul>
        </div>
        <div>Players:
            <ul>
                {{# each items}}
                <li>Name: {{name}}</li>
                {{/ each}}
            </ul>
        </div>
    </li>
    <br> {{/ each}}
</ul>
<div>
    <a href="/new">Create a New GM</a>
</div>


