<div>
    <div>
        <a href="/gms/{{gm.id}}/edit">Edit This GM</a>
    </div>
    <h1>GM {{gm.id}}</h1>

    <div>ID: {{_id}}</div>
    <div> Name: {{gm.name}}</div>
    <div>Years Experience: {{gm.years_experience}}</div>
    <div>League Type: {{gm.league_type}}</div>
<div>Players:
    <ul>
        {{# each gm.players}}
        <span>
            <li>Name: {{players.name}}</li>
        </span>
        <span>
            <li>Team: {{team}}</li>
        </span>
        <span>
            <li>Comment: {{comment}}</li>
        </span>
        {{/ each}}
        <form action="{{gm.id}}?_method=DELETE" method="post">
            <button type="submit">Delete {{gm.name}}</button>
        </form>
    </ul>
</div>

</div>